.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 2rem;
}

.project-category {
  margin-top: 1rem;
}

.category-title {
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: var(--main-accent-color);
}

.intro-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 10vh;
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
}

.intro-text-container p {
  font-size: 24px;
}

.intro-text-container b {
  color: var(--text-accent-color);
}

#see-work-wrapper {
  position: absolute;
  font-size: 1.5rem;
  top: 80vh;
  margin: auto;
  align-self: center;
}